@using Knihovna.ViewModels;
@model LoginVM
@{
	ViewData["Title"] = "Login";
}

<h1>Přihlášení</h1>
<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Login" method="post">
	<input type="hidden" asp-for="ReturnUrl" />
	<div class="form-group">
		<label asp-for="UserName">Login</label>
		<input asp-for="UserName" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Password">Heslo</label>
		<input asp-for="Password" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="RememberMe">Zapamatuj si mě</label>
		<input type="checkbox" asp-for="RememberMe" />
	</div>
	<div class="form-group">
		<button class="btn btn-outline-primary" type="submit">Přihlásit</button>
		<a class="btn btn-outline-info" asp-area="" asp-controller="Users" asp-action="Create">Zaregistrovat se</a>
	</div>
</form>

