@using Knihovna.DTO
@model BookDto
<div>
	<h4>Vložit novou knihu</h4>
	<form method="post" asp-action="Update">
		<input asp-for="Id" type="text" hidden />
		<input asp-for="Borrowed" type="text" hidden />
		<input asp-for="Reserved" type="text" hidden />
		<div class="form-group">
			<label asp-for="Title">Titul</label>
			<input type="text" asp-for="Title" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="ISBN">ISBN</label>
			<input type="text" asp-for="ISBN" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Genre">Žánr</label>
			<input type="text" asp-for="Genre" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="AuthorName">Autor</label>
			<input type="text" asp-for="AuthorName" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Year">Rok</label>
			<input type="text" asp-for="Year" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Description">Popis</label>
			<textarea rows="4" cols="50" class="form-control" asp-for="Description"></textarea>		 
		</div>

		<input type="submit" class="btn btn-success" value="Vložit" />
	</form>
</div>