@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Admin - přístup ke všem položkám v menu, přístup k seznamu, rezervacím, vypůjčkám s možností vytvářet a mazat rezevace a vypůjčky od všech uživatelů, může vytvářet a měnit role uživatelům </p>
<p>Knihovník - přístup k seznamu, rezervacím, vypůjčkám s možnosti editace, mazání, ukončení vypůjčky a rezervace od všech uživatelů</p>
<p>Čtenář a ostatní - přístup k seznamu, rezervacím, vypůjčkám s možností vytvářet a mazat rezevace a to pouze od jenom záznamy od uživatele </p>
pujcit lze knihu ktera byla rezervována
delka půjčovní doby je 30dní, po uplynutí této doby začne svítit červeně upomínka
