@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Systém pro rezervaci a půjčování knih. V systému jsou tři role - Admin, Knihovník a čtenář.</p>
<p>Půjčit knihu, si může pouze ten, kdo ji má zarezervovanou.</p>
<p>Délka půjčovní doby je 30dní a nelze ji prodloužit. Po uplynutí této doby začne svítit červeně upomínka.</p>
<p>Přístup do systému má pouze registrovaný uživatel. Po registraci je novému uživateli přidělena role čtenáře, kterou může Admin změnit.</p>
<h6>Admin</h6>
<ul>
    <li>přístup ke všem položkám v menu</li>
    <li>přístup k seznamu, rezervacím, vypůjčkám</li>
    <li>možnost vytvářet, editovat a mazat knihy</li>
    <li>možnost vytvářet, mazat rezervace a vypůjčky od všech uživatelů</li>
    <li>může vytvářet a měnit role uživatelů</li> 
</ul>
<h6>Knihovník</h6>
<ul>
    <li>přístup k seznamu, rezervacím, vypůjčkám</li>
    <li>možnost vytvářet, editovat a mazat knihy</li>
    <li>možnost vytvářet, mazat rezervace a vypůjčky od všech uživatelů</li>
</ul>
<h6>Čtenář a ostatní</h6>
<ul>
    <li>přístup k seznamu</li>
    <li>přístup pouze ke svým rezervacím a vypůjčkam</li>
    <li>možnost vytvářet a mazat pouze své rezervace</li>
</ul>

 

