@using Knihovna.ViewModels
@model AppUser
@{
	ViewData["Title"] = "Edit USER";
}
<div class="form-group p-3" style="background-color: lightcyan;">
	<h1>Editace uživatele</h1>
 
	<div asp-validation-summary="All" class="text-danger"></div>

	<form asp-action="Edit" method="post">
		<div class="form-group">
			<label asp-for="Id" class="form-label"></label>
			<input asp-for="Id" class="form-control" disabled />
		</div>
		<div class="form-group">
			<label asp-for="UserName" class="form-label"></label>
			<input asp-for="UserName" class="form-control" disabled />
		</div>
		<div class="form-group">
			<label asp-for="Email" class="form-label"></label>
			<input asp-for="Email" class="form-control" required />
		</div>
		<div class="form-group">
			<label for="password" class="form-label">Password</label>
			<input name="password" class="form-control" required />
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success w-100">Uložit</button>
		</div>
	</form>
</div>
